<a href="https://colab.research.google.com/github/Raghamala/INTERNSOFTcodefiles/blob/main/Day5codefile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import the library
import math

In [2]:
math.ceil(2.4)

3

In [3]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [4]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [9]:
try:
  f = open('testfile','w')
  f.write('Test write this')
except IOError:
  #this will only check for an IOError exception and then execute this print statement
  print("Error: could not find file or read data")
else:
  print("Content written successfully")
  f.close()

Content written successfully

In [10]:
try:
  f = open('testfile','r')
  f.write('Test write this')
except IOError:
  #this will only check for an IOError exception and then execute this print statement
  print("Error: could not find file or read data")
else:
  print("Content written successfull")
  f.close()

Error: could not find file or read data

In [11]:
try:
  f = open("testfile", "w")
  f.write("Test write statement")
finally:
  print("Always execute finally code blocks")

Always execute finally code blocks

In [12]:
def askint():
  try:
    val = int(input("please enter an integer:"))
  except:
    print("looks like you did not enter an integer!")
  finally:
    print("Finally, i exevuted!")
    print(val)

In [13]:
askint()

please enter an integer:4
Finally, i exevuted!
4

In [15]:
askint()

please enter an integer:7
Finally, i exevuted!
7

In [16]:
def askint():
  try:
    val = int(input("please enter an integer:"))
  except:
    print("looks lik you did not enter an integer!")
  finally:
    print("finally, i executed!")
  print(val)

In [17]:
askint()

please enter an integer:78
finally, i executed!
78

In [21]:
def askint():
  while True:
    try:
      val = int(input("please enter an integer:"))
    except:
      print("Looks like you did not enter an integer!")
      continue
    else:
      print('yep thats an integer!')
      break
    finally:
      print("finally, i executed")
    print(val)

In [22]:
askint()

please enter an integer:woo
Looks like you did not enter an integer!
finally, i executed
please enter an integer:kiss
Looks like you did not enter an integer!
finally, i executed
please enter an integer:345
yep thats an integer!
finally, i executed

In [23]:
import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database1.db")
#drop table if it already exist using execute()method.
db.execute("drop table if exists grades1")
#create table as per requirement
db.execute("create table grades1(id int, name text, score int)")
#inserting values inside the created table
db.execute("insert into grades1(id, name, score) values(101, 'john',99)")
db.execute("insert into grades1(id, name, score) values(102, 'gary',90)")
db.execute("insert into grades1(id, name, score) values(103, 'james',80)")
db.execute("insert into grades1(id, name, score) values(104, 'kris',95)")

In [24]:
db.commit()

In [25]:
results = db.execute("select * from grades1 order by id")
for row in results:
  print(row)
print("-"* 60)

(101, 'john', 99)
(102, 'gary', 90)
(103, 'james', 80)
(104, 'kris', 95)
------------------------------------------------------------

In [26]:
results = db.execute("select * from grades1 where name = 'gary' ")
for row in results:
  print(row)
  print("-" * 60)

(102, 'gary', 90)
------------------------------------------------------------

In [27]:
results = db.execute("select * from grades1 where score >= 90")
for row in results:
  print(row)
  print("-"*60)

(101, 'john', 99)
------------------------------------------------------------
(102, 'gary', 90)
------------------------------------------------------------
(104, 'kris', 95)
------------------------------------------------------------

In [28]:
results = db.execute("select name, score from grades1 order by score desc")
for row in results:
  print(row)
  print("-"*60)

('john', 99)
------------------------------------------------------------
('kris', 95)
------------------------------------------------------------
('gary', 90)
------------------------------------------------------------
('james', 80)
------------------------------------------------------------

In [29]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
  print(row)
  print("-"*60)

('james', 80)
------------------------------------------------------------
('gary', 90)
------------------------------------------------------------
('kris', 95)
------------------------------------------------------------
('john', 99)
------------------------------------------------------------

In [31]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
  print(row)

('james', 80)
('gary', 90)
('kris', 95)
('john', 99)